body {
  background-color: rgb(31, 31, 31);
}

.nodes {
  border: 2px solid rgb(11, 8, 0);
  height: 100%;
  width: 100%;
  border-radius: 15%;
  color: rgb(255, 250, 250);
  background-color: #636060;
  box-shadow:
    0 0 2px .25px rgb(255, 255, 255),
    0 0 2px .75px rgb(84, 83, 83);
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 10%;
  z-index: 0;
  opacity: 1;
  transform:  scale(1);

}

.nodes:active{
  background-color:  rgb(101, 101, 248);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  opacity: .9
}

.nodes:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.2);

}



.container {
  display: grid;
  grid-template-columns: repeat(30, 50px);;
  grid-template-rows: repeat(10, 50px);
  row-gap: 8%;
  column-gap: 2%;
}

@keyframes blinker {
  0% {
      opacity: 0}
  80% {
      opacity: 0}
  90% {
      opacity: 1;
  }    
}

@keyframes example {
  0% {
      width: 0;
      opacity: 0}
  80% {
      width: 0;
      opacity: 0
  }
  100% {
      opacity: 1;
      width: 100%;
  }    
}

@keyframes example2 {
      0% {
          height: 0;
          opacity: 0}
      80% {
          height: 0;
          opacity: 0
      }
      100% {
          opacity: 1;
          height: 100%;
      }      
}
  
.reverse {
  animation-direction: reverse;
}

.lineHorizontal {
  z-index: -1;
  width: 100%;
  align-self: center;
  justify-self: end;
  box-shadow:
    0 0 1px .5px rgb(250, 117, 246),
    0 0 1px 1px rgb(250,
      117,
      246);

}

.lineVertical {
  z-index: -1;
  height: 100%;
  width: .01px;
  align-self: center;
  justify-self: center;

  box-shadow:
    0 0 1px .5px rgb(101, 101, 248),
    0 0 1px 1px rgb(101, 101, 248);

}


.textBox {
  border: 2px solid rgb(11, 8, 0);
  opacity: .9;
  height: 500%;
  width: 400%;
  border-radius: 5%;
  color: rgba(255, 250, 250, 0.865);
  background-color: #282727;
  box-shadow:
    0 0 4px .25px rgb(255, 255, 255),
    0 0 2px .75px rgb(84, 83, 83);
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  z-index: 0;
  opacity: 1;
  grid-column-end: 8;


}

.demo{
  border: 2px solid rgb(11, 8, 0);
  
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: rgb(255, 250, 250);
  background-color: #282727;
  
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  box-shadow: 0 2px #999;

}


.demo:hover {background-color: #3e8e41}

.demo:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.xButton{
  border: 1px solid rgb(11, 8, 0);
  opacity: .4;
  height: 22px;
  width: 22px;
  position: absolute;
  border-radius: 5%;
  margin-top: -40px;
  margin-left: 65px;
  background-color: #524f4f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.xButton:active{
  background-color: red;
  box-shadow: 0 1px #666;
  transform: translateY(1px);


}

.xButton:hover{
  background-color: red;
}